@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>This is Index View of Home Controller with Action Index</h2>
<img src="~/Images/MVC.jpg" alt="MVC Image" />

<!-- Gọi Partial View -->
@await Html.PartialAsync("DashboardContent")
